/* Reset and global styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #111; /* Choose a suitable background color */
}

/* Menu styles */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%; /* Adjust padding for even spacing on the left and right */
    background-color: transparent; /* Set menu bar background to transparent */
    color: white;
    z-index: 1000;
}

.menu-items {
    margin-right: 6%;
    display: flex;
}

.menu-items a {
    position: relative;
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-items a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust the distance of the bar from the text */
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(175, 175, 175);
    transition: width 0.2s ease; /* Add transition for smooth effect */
}

.menu-items a:hover::after,
.menu-items a.active::after {
    width: 100%; /* Expand the width of the bar on hover and active */
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.logo img {
    width: 4rem;
    height: 4rem;
    margin-right: 10px;
}

/* Section styles */
.section {
    padding: 10vh 5%; /* Adjust padding for each section as needed */
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/* Home section styles */
.section[data-anchor="home"] {
    background-color: #000000;
}

.section[data-anchor="home"] .content {
    display: flex;
    max-width: 90%; /* Adjust the max width as needed */
    margin: 0 auto;
    text-align: left;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.section[data-anchor="home"] .text-content {
    flex: 1;
}

.section[data-anchor="home"] .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Align the image to the right */
}

.section[data-anchor="home"] img {
    max-width: 80%; /* Ensure the image scales dynamically */
    max-height: 80%; /* Ensure the image scales dynamically */
    border-radius: 10px; /* Optional: Add a border radius for a rounded look */
}

.section[data-anchor="home"] h1 {
    font-size: calc(16px + 6vw);
    color: rgb(255, 255, 255);
}

.section[data-anchor="home"] .role {
    font-size: calc(12px + 1.5vw);
    background-clip: text;
    color: rgb(255, 255, 255);
    display: inline-block;
    background-size: 200% 100%;
}

/* Other section styles */
#about {
    background-color: #222;
}

#portfolio {
    background-color: #111;
}

#resume {
    background-color: #000;
}

#contact {
    background-color: #444;
}

/* Portfolio styles */
.portfolio-container {
    display: flex;
    justify-content: center; /* Center the portfolio items */
}

.portfolio-item {
    flex: 1;
    margin: 1rem;
    cursor: pointer;
    max-width: 300px; /* Set a maximum width for portfolio items */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #menu {
        padding: 20px 5%;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent menu items from wrapping to the next line */
        display: flex;
        align-items: center;
    }

    .menu-items {
        margin-right: 0; /* Remove the right margin for menu items */
        display: flex;
    }

    .menu-items a {
        margin-right: 20px; /* Adjust the spacing between menu items */
    }

    .logo {
        font-size: 1.5rem;
    }

    #home h1,
    #home .role {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}

/* Gradient text class */
.gradient-text {
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, purple, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; /* Standard property for other browsers */
    animation: gradientAnimation 8s linear infinite;
}

.name-text {
    color:rgb(218, 255, 132);
}